@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

button {
    position: relative;
    left: 92%;
    border: none;
    background-color: rgb(38, 255, 121);
    padding: 5px 10px;
    cursor: pointer;
    transition: .8s;
    font-weight: bold;
}

button:hover{
    background-color: black;
    color: white;
}

img {
    width: 500px;
    position: relative;
    left: 14.5%;
}

iframe {
    width: 560px;
    position: relative;
    left: 10%;
}

body {
    position:absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    background-color: rgb(9, 9, 82);
    font-family: 'Pretendard-Regular';
}

.title {
    color: white;
    text-align: center;
    font-size: 2.0em;
}

small {
    color: rgb(38, 255, 121);
}


table {
    background-color: white;
    color: black;
    margin-top: 10px;
    padding: 5px;
    width: 700px;
}

thead {
    font-weight: bold;
    background-color: rgb(38, 255, 121);
    text-align: center;
}

caption {
    color: rgb(190, 190, 190);
    text-align: left;
    position: relative;
}

.main {
    transition: .8s;
    cursor: pointer;
}

.main:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.song {
    width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lyrics {
    height: 0px;
    overflow: hidden;
    transition: .8s;
}

.active {
    display: block;
    height: 200px;
    padding-top: 5px;
}